.app-wrapper {
  display: grid;
  margin: 0 auto;
  grid-template-areas:
    "c"
    "f";
  grid-auto-rows: auto auto;
}

.app-wrapper-content {
  grid-area: c;
}

.app-wrapper-footer {
  grid-area: f;
}
